.header-container {
  .navbar-container {
    display: flex;
    justify-content: space-between;
    .left-column {
      border: 1px solid red;
      width: 80%;
      display: flex;
      .logo {
        width: 95px;
        height: 40px;
      }
      .nav-list {
        border: 1px solid blue;
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 14px;
        li {
          padding: 12px 18px;
        }
      }
    }
    .right-column {
      width: 400px;
      border: 1px solid grey;
    }
  }
}
